<%= render 'index', spots: @spots %>

<h1>投稿一覧</h1>

<% @spots.each do |spot| %>

  <p>タイトル</p>
  <span><%= spot.name %></span>

  <p>カテゴリー</p>
  <span><%#= spot.category.try(:name) %></span>

  <p>温泉質</p>
  <span><%= spot.quality %></span>

  <p>本文</p>
  <span><%= spot.introduction %></span>


<% end %>