<%= render 'index', spots: @spots %>
<h2>投稿一覧</h2>

<table class="table">
  <thead>
      <th>タイトル</th>
      <th>カテゴリー</th>
      <th>温泉質</th>
      <th>本文</th>
  </thead>

<tbody>
<% @spots.each do |spot| %>
<tr>
  <td><%= spot.name %></td>
  <td><%#= spot.category.try(:name) %></td>
  <td><%= spot.quality %></td>
  <td><%= spot.introduction %></td>
</tr>
<% end %>
</tbody>

</table>


