<div id="contents">
  <div id="sub">メニュー</br>
  <%= link_to "新規投稿", new_admin_spot_path %></br>
  <%= link_to "カテゴリー新規登録", new_admin_category_path %></br>
  <%= link_to "温泉投稿一覧", admin_spots_path %></br>

</div>
  <div id="side-1"><h2>管理者トップページ</h2></div>
</div>