
<div class="slider4-wrap">
  <ul class="slider-4" id="js-slider-4">
    <li><img src="assets/onsen-7594228_1280.jpg" /></li>
    <li><img src="assets/dog_black.jpg" /></li>
    <li><img src="assets/ビル白黒.jpg" /></li>
    <li><img src="assets/baked-goods-1853261_1280.jpg" /></li>
  </ul>
  <div class="progress_bar">
    <div class="bar" id="js-progressBar"></div>
  </div>
  <div class="dots-4"></div>
</div>



<div class="container">
<div class="row justify-content-center">
    <%= link_to "温泉を探す", user_spots_path  %>
</div>
</div>

<div class="container">
<div class="row justify-content-center ">
    ランキング集
</div>


</div>
<%#= pie_chart Yogurt.group(:category).count %>
