
<div class="a">
    <div class="b"><img class="c" src="assets/building-5822230_1280.jpg"></div>
    <div class="b"><img class="c" src="assets/dog_black.jpg"></div>
    <div class="b"><img class="c" src="assets/ビル白黒.jpg"></div>
</div>

<div class="container">
<div class="row justify-content-center">
    <%= link_to "温泉を探す", new_user_spot_path  %>
</div>
</div>

<div class="container">
<div class="row justify-content-center ">
    ランキング集
</div>
</div>

<% if user_signed_in? %>

<% end %>