
<div class="a">
    <div class="b"><img class="c" src="assets/building-5822230_1280.jpg"></div>
    <div class="b"><img class="c" src="assets/dog_black.jpg"></div>
    <div class="b"><img class="c" src="assets/ビル白黒.jpg"></div>
</div>

<% if user_signed_in? %>

<% end %>