<%= render 'admin/homes/top', spots: @spots %>

      <div class="font"><h4>カテゴリー追加</h4></div>


  <%= form_with model: @category, url: admin_categories_path do |f| %>
    <div class="container">
      <div class="row mt-5 justify-content-center">
        <table>
          <tr><th>カテゴリー名</th></td>
          <td><%= f.text_field :name, placeholder: "カテゴリー名" %></td>
          <td><%=f.submit '新規投稿', class: "btn-gradient-green" %></td></tr>
          </table>
        </div>
      </div>
  <% end %>

  </div>