
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Start Bootstrap</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Dashboard</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Shortcuts</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>
                </div>
            </div>

                <!-- Page content-->
                <div class="container-fluid">
                    <h1>投稿一覧</h1>

<% @spots.each do |spot| %>

  <p>タイトル</p>
  <span><%= spot.name %></span>

  <p>カテゴリー</p>
  <span><%= spot.category.try(:name) %></span>

  <p>温泉質</p>
  <span><%= spot.quality %></span>

  <p>本文</p>
  <span><%= spot.introduction %></span>


<% end %>
</div>

                </div>
            </div>
        </div>



</body>




